.--hover{
    cursor: pointer;
}

.--hover:hover{
    background-color: hsl(var(--hue),var(--saturation),95%);
}

.--hover *{
    cursor: inherit;
}

.--tag{
    font-size: 8px; padding: 1px 2px; border-radius: 3px;
    background-color: hsl(var(--hue),var(--saturation),90%);
    overflow: hidden; color: hsl(var(--hue),var(--saturation),40%)
}

.--red{
    --hue: 0; --saturation: 100%;
}

.--purple{
    --hue: 300; --saturation: 70%;
}

.--yellow{
    --hue: 60; --saturation: 100%;
}

.--mobile-wrap{
    flex-wrap: nowrap;
}

.--mobile .--mobile-wrap{
    flex-wrap: wrap;
}

.member-image {
    width: 32px;
    min-height: 32px;
    object-fit: cover;
}

.member-image-big {
    width: 130px;
    height: 180px;
    object-fit: cover;
}

.game-whoami-member-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.--mobile .view--main{
	display: flex; gap: 16px; flex-direction: column; padding: 24px;
}

canvas.map{
    position: absolute; left: 16px; top: 16px; width: calc(100% - 32px); height: calc(100% - 32px); background-color: #eee;
}