<template name=overview target=page-main title="Accueil">
    <h2>Accueil</h2>
	<div class="--flex-col-8" style="align-items:flex-start">
		<h3>Paris Daumesnil</h3>
		<p>Bienvenue à Paris Daumesnil!</p>
	</div>
	<div class="--flex-8">
		<button class='button button--contained' color="blue" onclick="builder.standalone()"><span class='material-symbols-outlined'>upload_file</span>Télécharger</button>
		<button class='button button--contained' color="blue" onclick="builder.download()"><span class='material-symbols-outlined'>download_for_offline</span>Code source</button>
	</div>
	<div id="container" class="--flex-col-32"></div>
</template>