<template name=overview target=page-main title="Accueil">
    <h2>Accueil</h2>
	<div class="--flex-col-8" style="align-items:flex-start">
		<h3>Paris Daumesnil</h3>
		<span><a href="#members">Membres de l'assemblée</a> <a href="#maps">(carte)</a></span>
	</div>
	<div id="groups" class="--flex-col-8" style="align-items:flex-start">
		<h3>Groupes de prédication</h3>
	</div>
	<div id="new-groups" class="--flex-col-8" style="align-items:flex-start">
		<h3>Nouveaux groupes de prédication</h3>
	</div>
</template>